*{
    padding: 0px;
    margin: px;
}
body{
    background-image:url("../img/background1.jpg");
}
.site-header{
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
}
.site-menu-btn{
    display: flex;
    flex-direction: row-reverse;
    width: 80px;
    height: auto;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}
.site-menu-btn img{
    width: 40%;
}
.site-menu-btn span{
    font-family: "ProximaNova";
    color: white;
    font-size: 18px;
    margin: 4px 10px;
}
.site-container-button{
    display: flex;
    justify-content: center;
}
.btn{
    border-radius: 25px;
    padding: 10px 30px;
    background: transparent;
    border: 2px solid white;
    color: white;
    cursor: pointer;
    margin: auto 10px;
    font-family: "ProximaNova";
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
}
.btn-primary{
    background: white;
    color: black;
}